/* .App {
  padding: 10px 50px;
  background-color: rgb(255, 255, 255);
} */

.IntroText {
  margin: 5px 300px;
  font-size: 25px;
  color: whiteSmoke;
}

.HomeBackground {
  background: url("https://i.imgur.com/u05P8lh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.HomeContainer {
  align-content: center;
  padding: 5px 20px;
  background-color: whiteSmoke;
  position: fixed;
  height: 100%;
  width: 100%;
}

.StudyAnything {
  font-size: 60px;

  color: whiteSmoke;
  width: 100%;
}

.ui.massive.positive.button.CreateButton {
  box-shadow: 5px 5px 10px whiteSmoke;
}

.CreateSet {
  padding: 5px 40px;
}

.ui.form textarea.BlankCard {
  outline: none;
  resize: none;
}

.CardText {
  align-content: center;
}

.Header {
  font-size: 30px;
}

.CardContainer {
  display: grid 1fr 1fr;
}

.study-cards {
  height: 200px;
  perspective: 1000px;
}
